[Unit]
Desription=RFCOMM aut-bind 0
After=bluetooth.target

[Service]
ExecStart=/home/pi/workspace/bt_bind/bt_bind.sh %i 0
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target

