[Unit]
Desription=RFCOMM aut-bind 0
After=bluetooth.target

[Service]
ExecStart=/bin/bash /home/pi/rfcomm_autobind/bt_bind.sh %i 0
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target

